<div class="max-w-7xl mx-auto mt-10 p-6 bg-white rounded-xl shadow-md">
    <div class="flex flex-col lg:flex-row gap-8">
      
      <!-- Formulario -->
      <div class="w-full lg:w-1/2">
        <h2 class="text-2xl font-bold mb-4">Registrar permisos</h2>
        <app-diasdisponibles
          [rutTrabajador]="permisos.RutTrabajador"
          [fecha]="permisos.FechaInicio">
        </app-diasdisponibles>
        <form #form="ngForm" class="space-y-4" (ngSubmit)="guardarPermiso()">

          <!-- Rut -->
          <div class="relative">
            <label class="block mb-1 font-medium">Trabajador</label>
            <input type="text" [(ngModel)]="busqueda"
                   (ngModelChange)="seleccionarTrabajador($event)"
                   name="trabajador" autocomplete="off"
                   class="w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
          
            <ul *ngIf="busqueda && trabajadoresFiltrados.length > 0 && !esNombreExacto(busqueda)"
                class="absolute z-10 bg-white border mt-1 w-full rounded shadow max-h-40 overflow-y-auto">
              <li *ngFor="let t of trabajadoresFiltrados"
                  (click)="seleccionarTrabajador(t.Nombre)"
                  class="p-2 hover:bg-blue-100 cursor-pointer">
                {{ t.Nombre }}
              </li>
            </ul>
          </div>
  
          <!-- Fecha inicio -->
          <div>
            <label class="block mb-1 font-medium">Fecha de Inicio</label>
            <input type="date" [(ngModel)]="permisos.FechaInicio" name="fechaInicio" required
                   class="w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                   (ngModelChange)="actualizarCalendario();actualizarDiasDisponibles()" />
          </div>
  
          <!-- Días tomados -->
          <div>
            <label class="block mb-1 font-medium">Días Tomados</label>
            <input type="number" min="1" max="50" [(ngModel)]="permisos.DiasTomados" name="diasTomados" required
                   class="w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" 
                   (ngModelChange)="validarDiasTomados()"/>
          </div>

          <!-- ¿A Cuenta de vacacaciones? -->
          <div>
            <label class="block mb-1 font-medium">¿A Cuenta de Vacaciones?</label>
            <select class="rounded-md" [(ngModel)]="permisos.Vacaciones" name="vacaciones" required
                    class="w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                    (ngModelChange)="validarDiasTomados()">
              <option [ngValue]="true">Sí</option>
              <option [ngValue]="false">No</option>
            </select>
          </div>
  
          <!-- Observaciones -->
          <div>
            <label class="block mb-1 font-medium">Observaciones (opcional)</label>
            <textarea [(ngModel)]="permisos.Motivo" name="observaciones"
                      class="w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500">
            </textarea>
            <div class="text-sm text-gray-500 mt-1">
              (opcional)
            </div>
          </div>
  
          <div class="pt-4">
            <button type="submit"
                    [disabled]="!form.valid"
                    class="w-full bg-blue-600 text-white py-2 px-4 rounded-md hover:bg-blue-700 disabled:opacity-50">
              Registrar permiso
            </button>
          </div>
        </form>
      </div>
      
      <!-- Calendarios -->
      <div class="flex flex-wrap gap-8 justify-center max-w-[484px] overflow-x-auto">
        <app-calendario
        *ngFor="let m of meses"
          [mes]="m.mes"
          [anio]="m.anio"
          [diasMarcados]="m.dias"
          [titulo]="'Vacaciones: ' + obtenerNombreMes(m.mes) + ' ' + m.anio"
          [feriados]="feriados"
        ></app-calendario>
      </div>
    </div>
  </div>